*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 55px;
    width: 80px;
}

.nav-logo{
    background-image: url("amazon-dark-logo-png-transparent.png");
    background-size: cover;
    height: 55px;
    width: 80px;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

/* 2Box */

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/* 3 box */

.nav-search{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 5px;
    justify-content: space-evenly;
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    text-align: center;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
    border: none;
}

.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: rgb(255, 166, 0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
} 

/* 4box */

span{
    font-size: 0.75rem;
}

.nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}

/* 5box */

.nav-cart i {
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700px;
}

/* ----Panel--- */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.8rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-style: 700;
}

/* ---hero-section--- */
.hero-section{
    height: 350px;
    background-image: url("amazon-hero.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-section i{
    position: absolute;
    font-size: 1.5rem;
    color: white;
    top: 35%;
    left: -5px;
    background-color: rgba(0,0,0,0.5);
}

.hero-section i:nth-child(2){
    left: auto;
    right: -5px;
}

.hero-msg{
    width: 80%;
    height: 40px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    bottom: 25px;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
    font-weight: 700;
    margin-left: 5px;
}

/* ---Shop Section */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    gap: 3rem;
    
}

.box{
    border: 2px solid black;
    min-height: 450px;
    width: 25%;
    background-color: white;
    padding: 20px 0px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-img{
    background-size: contain;
    background-repeat: no-repeat ;
    height: 300px;
    width: 100%;
    margin-top: 0.89rem;
    background-position: center;
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */

}

.box1 h{
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 10px;
}

.box-content p{
    color: #007185;
}

/* ----BOX2---- */
.box2 h{
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
}

.box3 h{
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
}